.super-duper-slider {
  &__container {
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
		position: relative;
		flex-wrap: nowrap;

    &.dragging {
      cursor: grab;
      scroll-behavior: auto;	
    }
  }
	&__element-container {
		box-sizing: content-box;
	}
}
