@import "../../../utils/styles/common.scss";

.collage-image {
  border-radius: toRem(10);
  overflow: hidden;
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__description {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $darkWhiteColor;
    opacity: 1;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &__title {
    font-family: "Island Moments";
    white-space: nowrap;
    font-size: em(48);
    font-weight: 400;
  }
  &__text {
    font-size: em(24);
    font-weight: 500;
  }

  &.light-image {
		transition: transform .3s ease;
    @media (any-hover: hover) {
      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  &.dark-image {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(0, 0, 0);
      background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.6) 100%
      );
      opacity: 1;
      transition: opacity 0.3s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        &::after {
          opacity: 0;
        }
        .collage-image__description {
          transform: translate(-50%, -100%);
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}

body._touch .collage-image.dark-image._active {
  &::after {
    opacity: 0;
  }
  .collage-image__description {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
